{% extends "base.html" %}
{% load static %}
{% block title %}Product{% endblock %}
{% block content %}

<!-- inner page section -->
<section class="inner_page_head">
   <div class="container_fuild">
      <div class="row">
         <div class="col-md-12">
            <div class="full">
               <h3>Product Grid</h3>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- end inner page section -->



<!-- Products page section -->
<section class="product_section layout_padding">
   <div class="container">
      <div class="heading_container heading_center">

      </div>
      <div class="row">
         {% for product in products %}
         <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="box">
               <div class="option_container">
                  <div class="options">
                     <a href="#" class="option1" onclick="addtocart('{{product.id}}')">
                        Add to Cart
                     </a>
                  </div>
               </div>
               <div class="img-box">
                  <a href="{% url 'product' %}?catid={{ product.id }}">
                     <img src="/media/{{ product.image }}" alt="{{ product.name }}">
                  </a>
               </div>
               <div class="detail-box">
                  <h5>{{ product.name }}</h5>
                  <h6>{{ product.price }}</h6>
               </div>
            </div>
         </div>
         {% endfor %}
      </div>
   </div>
</section>

</div>
</section>
<!-- End Products page section -->

{% endblock %}